.vscode
/_draftCache/
/_draftSite/
/_release/
/_cache/
/_site/
/cabal.project.local**
/current-project.nix
/dist/
/dist-newstyle/
.ghc.environment.x86_64-linux-8.6.4
**.swp
.ghc.environment.x86_64-linux-8.6.5
ghcid.txt
result
/async-error.iml
/.idea/
/.stack-work/
/async-error.cabal
